@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    align-items: center;
}

.typed-cursor{
    display: block;
    font-size: 100px;
    color: #669BBC;
}

.top-react-icons{
    color: white;
}