@tailwind base;
@tailwind components;
@tailwind utilities;


ul, li{
    padding: 0;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    align-items: center;
}

.typed-cursor{
    display: block;
    font-size: 100px;
    color: #669BBC;
}

.top-react-icons{
    color: white;
}

html{
    scroll-padding-top: 220px;
}

a {
    text-decoration: none;
}

@media (max-width: 600px){
    .typed-cursor{
        display: none;
    }

    .App{
        display: flex;
        justify-content: center;
    }

    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

}
